<h2>Gestión</h2>
<div>
  <button id="agregarRegistro">Agregar</button>
</div>
<br>
<div>
  <table style="width:100%">
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Cantidad</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
</div>

<script>
    //   $('#agregarRegistro').on('click', function(){
    //     $.ajax({
    //       url: "../php/calls.php"
          
    //     }) .done(function(result) {
    //       alert( "success" );
    //     })
    //     .fail(function(result, h,e) {
    //       alert( "error" );
    //     });
    // });
    
</script>
<script src="../scripts/gestion.js?v=1.01"></script>