<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pajaritos S.A. de C.V.</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="../scripts/lib/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="top-header">
        <img class="img-header" src="../../favicon.ico" alt="pajaritos_img" >
        <span class="top-title">Pajaritos S.A. de C.V.</span>
    </div>
    <div class="divlogin">
        <h2 id="mainHeader" style="text-align: center;">Inicio de sesión</h2>
        <div>
            <form class="form" id="frmLogin">
              <input type="text" placeholder="Usuario" id="txtUsername">
              <input type="password" placeholder="Contraseña" id="txtPassword">
              <br>
              <button class="btn-info" id="iniciarSesion">Acceder</button>
              <br>
              <br>
            </form>
        </div>
    </div>
</body>
<div id="mdlBienvenida" class="modal">
    <div class="modal-content">
        <header class="mdl-container mdl-teal mdl-teal-login"> 
            <h2 id="titModal">Bienvenido</h2>
          </header>
          <div class="mdl-container">
              <br>
              <div id="mdl-user" style="text-align: center;">

              </div>
              <br>
          </div>
          <footer class="mdl-container mdl-teal mdl-teal-login">
            <p></p>
          </footer>
    </div>
</div>
<script>

</script>
<script src="../scripts/validarSesion.js?v=1.000"></script>

</html>