<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pajaritos S.A. de C.V.</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="../scripts/lib/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="top-header">
        <img class="img-header" src="../../favicon.ico" alt="pajaritos_img" >
        <span class="top-title">Pajaritos S.A. de C.V.</span>
    </div>
    <div class="main" id="main-container">
        <h2 id="mainHeader">Sesión Cerrada</h2>
    </div>
</body>

<script>
        setTimeout( function ( ) { 
       
    }, 5000 );
    window.location.replace("../views/login.html");
</script>
<script src="../scripts/validarSesion.js?v=1.000"></script>

</html>