<a><img class="img-header" src="../../favicon.ico" alt="pajaritos_img" ></a>
<a><span class="top-title">Pajaritos</span></a>
<br>
<br>
<a class="active menu-li" id="consulta" data-op="gestion" data-cl="cl-gestion-consulta" onclick="menuAction(this, event)" href="#">Consulta</a>
<a class="menu-li" id="gestion" data-op="consulta" data-cl="cl-gestion-consulta" onclick="menuAction(this, event)" href="#">Gestión</a>
<a class="menu-li" id="contacto" data-op="cl-gestion-consulta" data-cl="cl-contacto" onclick="menuAction(this, event)" href="#">Contacto</a>
<a class="menu-li" id="salir" onclick="cerrarSesion()" href="#">Salir</a>